<%- defaults = Redmine::Plugin::registered_plugins[:estatisticas].settings[:default] -%>

<p>
Debes crear un campo personalizado para o tipo de versi칩n co nome que se configura nesta pantalla. Isto permitir치 que o listado de versi칩ns mostre o tipo da versi칩n </p>
</p>
<p>
<%= label_tag 'settings[tipo_version]', l(:label_setting_tipo_version) %>
<%= text_field_tag('settings[tipo_version]', @settings["tipo_version"] || defaults["tipo_version"]) %>
</p>
